.card-poker {
  width: 200px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  background-color: white;
}

.card-poker .suit {
  font-size: 50px;
  margin-top: 0px;
}
.card-poker .top-left,
.card-poker .bottom-right {
  position: absolute;
}
.card-poker .top-left {
  top: 5px;
  left: 5px;
  font-size: 50px;
}
.card-poker .bottom-right {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}
.suit-middle {
  margin-top: 100px;
  font-size: 50px;
}
